// app global css in SCSS form
@import "mixins/index.scss";
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.gap {
  &__10 {
    gap: 10px;
  }

  &__20 {
    gap: 20px;
  }

  &__30 {
    gap: 40px;
  }

  &__50 {
    gap: 50px;
  }
}